// Общие
$white-text: #ffffff;
$pink-text: #ffa5ba;
$crimson-text: #d41443;
$bcg-hero: #ffb8ca;
$bcg-cow: #fff5f6;
$products-button: #d41443;
$products-button-hov: #c7133e;
$primary-button: #ffffff;
$primary-button-hov: #ecebeb;
$main-bcg: #ffffff;
$secondary-bcg: #fff5f6;

// Секция с тремя видами морожено

$cream-bcg: #ffb8ca;
$coffe-bcg: #f0d1a5;
$milkshakes-bcg: #c2e297;

// Секция с графиком работы

$sandy-title: #f0d1a5;
$green-title: #c2e297;
$schedule-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$coffee-text: #907e82;

// Mobile menu

$mobile-menu-bcg: #e17992;
$mobile-menu-borders: #e18298;

// Footer color
$footer-bcg: #fff5f6;
$black: #000000;
