* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
