* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;

  background-color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;

  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
