<section class="about__section">
  <container class="container">
    <p class="about__title"></p>
    <h2 class="about__heading"></h2>
    <img
      class="about__img"
      srcset="/images/Cow/cow-mob-1x.png 1x, /images/Cow/cow-mob-2x.png 2x"
      src="/images/Cow/cow-mob-1x.png"
      alt="cow_and_milk"
    />
    <div class="description__block">
      <p class="description__text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <span class="description__span"
        >Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</span
      >
      <button type="button" class="description__button">
        Read more<svg class="description__svg">
          <use href="/images/svg/symbol-defs.svg#icon-vector-1"></use>
        </svg>
      </button>
    </div>
  </container>
</section>
