<section class="section-about">
  <container class="container">
    <p class="title-about"></p>
    <h2 class="heading-about"></h2>
    <img
      class="img-about"
      srcset="../images/Cow/cow-mob-1x.png 1x, ../images/Cow/cow-mob-2x.png 2x"
      src="../images/Cow/cow-tab-1x.png"
      alt="cow_and_milk"
    />
    <div class="description-block">
      <p class="description-text"></p>
      <span class="description-span"></span>
      <button type="button" class="description-button">Read more</button>
    </div>
    <ul class="consumables-list">
      <li class="consumables-item">
        <img
          class="consumables-img"
          srcset="../images/Cow/icon1-1x.png, ../images/Cow/icon1-2x.png"
          src="../images/Cow/icon1-1x.png"
        />
        <p class="consumables-qty">721</p>
        <p class="consumables-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="consumables-item">
        <img
          class="consumables-img"
          srcset="../images/Cow/icon2-1x.png, ../images/Cow/icon2-2x.png"
          src="../images/Cow/icon2-1x.png"
        />
        <p class="consumables-qty">16kg</p>
        <p class="consumables-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="consumables-item">
        <img
          class="consumables-img"
          srcset="../images/Cow/icon3-1x.png, ../images/Cow/icon3-2x.png"
          src="../images/Cow/icon3-1x.png"
        />
        <p class="consumables-qty">84</p>
        <p class="consumables-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </container>
</section>
