<section class="advantages">
    <div class="container">
        <h2 class="advantages__name">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__path-name advantages__img-1">721</span>
                <p class="advantages__path-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__path-name advantages__img-2">721</span>
                <p class="advantages__path-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__path-name advantages__img-3">721</span>
                <p class="advantages__path-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>