<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type">cafe</p>
          <span class="shop__place">Chicago</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <p class="shop__day">Monday - Friday</p>
            <span class="shop__time">06:00 AM - 10:00 PM</span>
            <p class="shop__day">Saturday - Sunday</p>
            <span class="shop__time">08:00 AM - 16:00 PM</span>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>

      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type shop__type--style">food truck</p>
          <span class="shop__place">Los Angeles</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <div class="shop__thumb">
              <p class="shop__day">Monday - Friday</p>
              <span class="shop__time">06:00 AM - 10:00 PM</span>
            </div>
            <div class="shop__thumb">
              <p class="shop__day">Saturday - Sunday</p>
              <span class="shop__time">08:00 AM - 16:00 PM</span>
            </div>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>

      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type">cafe</p>
          <span class="shop__place">New York</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <p class="shop__day">Monday - Friday</p>
            <span class="shop__time">06:00 AM - 10:00 PM</span>
            <p class="shop__day">Saturday - Sunday</p>
            <span class="shop__time">08:00 AM - 16:00 PM</span>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
    </ul>
    <button class="contacts-button" type="button">Our Locations</button>
    <button class="contacts-button" type="button">Franchise</button>
  </div>
</section>
