<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type">cafe</p>
          <span class="shop__place">Chicago</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <div class="shop__thumb">
              <p class="shop__day">Monday - Friday</p>
              <span class="shop__time">06:00 AM - 10:00 PM</span>
            </div>

            <p class="shop__day">Saturday - Sunday</p>
            <span class="shop__time">08:00 AM - 16:00 PM</span>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>

      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type shop__type--style">food truck</p>
          <span class="shop__place">Los Angeles</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <div class="shop__thumb">
              <p class="shop__day">Monday - Friday</p>
              <span class="shop__time">06:00 AM - 10:00 PM</span>
            </div>
            <p class="shop__day">Saturday - Sunday</p>
            <span class="shop__time">08:00 AM - 16:00 PM</span>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>

      <li class="contacts__item">
        <div class="shop">
          <p class="shop__type">cafe</p>
          <span class="shop__place">New York</span>
          <p class="shop__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="shop__schedule">
            <div class="shop__thumb">
              <p class="shop__day">Monday - Friday</p>
              <span class="shop__time">06:00 AM - 10:00 PM</span>
            </div>
            <p class="shop__day">Saturday - Sunday</p>
            <span class="shop__time">08:00 AM - 16:00 PM</span>
          </div>

          <address class="contacts__adress">
            <a class="contacts__link" href="tel:+610383766284 ">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </div>
      </li>
    </ul>

    <!-- button -->
    <div class="page-wrapper">
      <button class="contacts-button trigger-1 page-wrapper-1" type="button">
        Our Locations
        <svg class="contacts-button__icon" width="6.4" height="8">
          <use href="images/svg/symbol-defs.svg#icon-vector-2"></use>
        </svg>
      </button>
      <button
        class="contacts-button contacts-button--button-style trigger-2 page-wrapper-2"
        type="button"
      >
        Franchise
        <svg class="contacts-button__icon" width="6.4" height="8">
          <use href="images/svg/symbol-defs.svg#icon-vector-1"></use>
        </svg>
      </button>
    </div>

    <!-- Modal -->
    <div class="modal-wrapper-1">
      <div class="modal-contacts">
        <button type="button" class="modal-contacts__close-btn trigger-1">
          <svg class="modal__close-icon">
            <use href="images/svg/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal-contacts__content">
          <h3 class="modal-contacts__title">
            new <span class="modal-contacts__title modal-contacts__title--style">york</span>
          </h3>
          <iframe
            title=""
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.49793427137!2d-73.98309319150258!3d40.64095296606152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b29ff3bb277%3A0xd4406bb4d1109a07!2sIce%20Cream%20House!5e0!3m2!1suk!2sua!4v1637097672909!5m2!1suk!2sua"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            class="modal-contacts__map"
          ></iframe>
        </div>
      </div>
    </div>

    <div class="modal-wrapper-2">
      <div class="modal-contacts">
        <button type="button" class="modal-contacts__close-btn trigger-2">
          <svg class="modal__close-icon">
            <use href="images/svg/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal-contacts__content">
          <h3 class="modal-contacts__title">
            los <span class="modal-contacts__title modal-contacts__title--style">angeles</span>
          </h3>
          <iframe
            title=""
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.548787186317!2d-118.44425688447984!3d34.055443725008296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb7f17ffa3ff%3A0xf291764513875402!2sSaffron%20%26%20Rose%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1637099424473!5m2!1suk!2sua"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            class="modal-contacts__map"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
