<section class="section rewiev" id="block-for-slider">
  <h2 hidden>Customer rewiews</h2>
  <div id="wievport" class="rewiev__wievport">
    <ul id="slidewrapper" class="rewiev__slidewrapper">
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer-desktop-1x.png 1x,
            /images/Customers/customer-desktop-2x.png 2x
          "
          src="/images/Customers/customer-desktop-1x.png"
          alt="Комментатор"
        />
        <p class="rewiev__comment">
          <span class="rewiev__text"
            >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span
          >
        </p>
        <div class="rewiev__poits"></div>
        <p class="rewiev__location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer2-desktop-1x.png 1x,
            /images/Customers/customer2-desktop-2x.png 2x
          "
          src="/images/Customers/customer2-desktop-1x.png"
          alt="Комментатор"
        />
        <p class="rewiev__comment">
          <span class="rewiev__text"
            >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span
          >
        </p>
        <div class="rewiev__poits"></div>
        <p class="rewiev__location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer3-desktop-1x.png 1x,
            /images/Customers/customer3-desktop-2x.png 2x
          "
          src="/images/Customers/customer3-desktop-1x.png"
          alt="Комментатор"
        />

        <p class="rewiev__comment">
          <span class="rewiev__text"
            >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span
          >
        </p>
        <div class="rewiev__poits"></div>
        <p class="rewiev__location">Emily, Los Angeles</p>
      </li>
    </ul>
    <!-- <ul id="prev-next-btns" class="rewiev__prev-next-btn">
      <li id="prev-btn" class="rewiev__prev-btn">
        <svg width="10" height="10">
          <use href="/images/svg/symbol-defs.svg#icon-vector-1"></use>
        </svg>
      </li>
      <li id="next-btn" class="rewiev__next-btn">
        <svg width="10" height="10">
          <use href="/images/svg/symbol-defs.svg#icon-vector-1"></use>
        </svg>
      </li>
    </ul> -->
    <ul class="rewiev__nav-btns">
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
    </ul>
  </div>
</section>
