<section class="section rewiev" id="block-for-slider">
  <div id="wievport">
    <ul id="sliderwrapper">
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer-desktop-1x.png 1x,
            /images/Customers/customer-desktop-2x.png 2x
          "
          src="/images/Customers/customer-desktop-1x.png"
          alt="Комментатор"
        />
        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer2-desktop-1x.png 1x,
            /images/Customers/customer2-desktop-2x.png 2x
          "
          src="/images/Customers/customer2-desktop-1x.png"
          alt="Комментатор"
        />
        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <img
          class="rewiev__img"
          height="85"
          width="85"
          srcset="
            /images/Customers/customer3-desktop-1x.png 1x,
            /images/Customers/customer3-desktop-2x.png 2x
          "
          src="/images/Customers/customer3-desktop-1x.png"
          alt="Комментатор"
        />

        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
    </ul>
    <ul id="prev-next-btns">
      <li id="prev-btn"></li>
      <li id="next-btn"></li>
    </ul>
    <ul class="rewiev__nav-btns">
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
    </ul>
  </div>
</section>
