<section class="section sectio--rewiev" id="block-for-slider">
  <div id="wievport">
    <ul id="sliderwrapper">
      <li class="rewiev__slide">
        <picture>
          <source
            srcset="
              ../images/Customers/customer-mob-1x.png 1x,
              ../images/Customers/customer-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768)"
            srcset="
              ../images/Customers/customer-tab-1x.png 1x,
              ../images/Customers/customer-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1280)"
            srcset="
              ../images/Customers/customer-desktop-1x.png 1x,
              ../images/Customers/customer-desktop-2x.png 2x
            "
          />
          <img src="../images/Customers/customer-mob-1x.png" alt="Комментатор" />
        </picture>
        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <picture>
          <source
            srcset="
              ../images/Customers/customer-mob-1x.png 1x,
              ../images/Customers/customer-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768)"
            srcset="
              ../images/Customers/customer-tab-1x.png 1x,
              ../images/Customers/customer-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1280)"
            srcset="
              ../images/Customers/customer-desktop-1x.png 1x,
              ../images/Customers/customer-desktop-2x.png 2x
            "
          />
          <img src="../images/Customers/customer-mob-1x.png" alt="Комментатор" />
        </picture>
        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
      <li class="rewiev__slide">
        <picture>
          <source
            srcset="
              ../images/Customers/customer-mob-1x.png 1x,
              ../images/Customers/customer-mob-2x.png 2x
            "
          />
          <source
            media="(min-width: 768)"
            srcset="
              ../images/Customers/customer-tab-1x.png 1x,
              ../images/Customers/customer-tab-2x.png 2x
            "
          />
          <source
            media="(min-width: 1280)"
            srcset="
              ../images/Customers/customer-desktop-1x.png 1x,
              ../images/Customers/customer-desktop-2x.png 2x
            "
          />
          <img src="../images/Customers/customer-mob-1x.png" alt="Комментатор" />
        </picture>
        <p class="comment">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="location">Emily, Los Angeles</p>
      </li>
    </ul>
    <div class="rewiev__nav-btns">
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
      <li class="rewiev__slide-nav-btn"></li>
    </div>
  </div>
</section>
