<section class="container">
    <div class="footer">
        <div class="footer__capture">
            <p class="footer__capture--text">homemade ice cream made</p>
            <h2 class="footer__capture--text-head">with passion</h2>
        </div>
        <!-- social link -->
        <ul>
            <li>
                <a href="#">
                    <svg>
                        <use href="images/svg/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg>
                        <use href="images/svg/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg>
                        <use href="images/svg/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p>Feel free to contact</p>
        <a href="tel:+610383766284">+61 (0) 383 766 284</a>
        <!-- copyright -->
        <p>&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</section>