<section class="footer">
    <div class="container">
        <div class="footer__capture">
            <p class="footer__capture--text">homemade ice cream made</p>
            <h2 class="footer__capture--text-head">with passion</h2>
        </div>
        <!-- social link -->
        <ul class="social-footer__list">
            <li class="social-footer__item">
                <a href="#" class="social-footer__link">
                    <svg class="social-footer__svg" width="19" height="19">
                        <use href="images/svg/symbol-defs.svg#icon-Git-hub" ></use>
                    </svg>
                </a>
            </li>
            <li class="social-footer__item">
                <a href="#" class="social-footer__link">
                    <svg class="social-footer__svg" width="19" height="15">
                        <use href="images/svg/symbol-defs.svg#icon-telegram" ></use>
                    </svg>
                </a>
            </li>
            <li class="social-footer__item">
                <a href="#" class="social-footer__link">
                    <svg class="social-footer__svg" width="9" height="19">
                        <use href="images/svg/symbol-defs.svg#icon-facebook" ></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="tel">
        <p class="tel__text">Feel free to contact</p>
        <a href="tel:+610383766284" class="tel__number">+61 (0) 383 766 284</a>
        </div>
        </div>
        <!-- copyright -->

        <p class="end"><span class="end__text">&copy; 2019 - IceCream. All Rights Reserved.</span></p>
    
</section>