<section class="gallery">
    <div class="gallery__container container">
        <h2 class="gallery__title is-hidden">
            Gallery
        </h2>
        <div class="gallery__masonry">
            <figure class="gallery__img-1 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop1-1x.png 1x,
                            images/Gallery/desktop1-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                        srcset="
                            images/Gallery/tab1-1x.png 1x,
                            images/Gallery/tab1-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop1-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-2 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop2-1x.png 1x,
                            images/Gallery/desktop2-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source 
                        srcset="
                            images/Gallery/tab2-1x.png 1x,
                            images/Gallery/tab2-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop2-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-3 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop3-1x.png 1x,
                            images/Gallery/desktop3-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source 
                        srcset="
                            images/Gallery/tab3-1x.png 1x,
                            images/Gallery/tab3-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop3-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-4 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop4-1x.png 1x,
                            images/Gallery/desktop4-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab4-1x.png 1x,
                            images/Gallery/tab4-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop4-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="284"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-5 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop5-1x.png 1x,
                            images/Gallery/desktop5-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab5-1x.png 1x,
                            images/Gallery/tab5-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop5-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-6 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop6-1x.png 1x,
                            images/Gallery/desktop6-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab6-1x.png 1x,
                            images/Gallery/tab6-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop6-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-7 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop7-1x.png 1x,
                            images/Gallery/desktop7-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab7-1x.png 1x,
                            images/Gallery/tab7-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop7-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-8 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop8-1x.png 1x,
                            images/Gallery/desktop8-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab8-1x.png 1x,
                            images/Gallery/tab8-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop8-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-9 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop9-1x.png 1x,
                            images/Gallery/desktop9-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                         srcset="
                            images/Gallery/tab9-1x.png 1x,
                            images/Gallery/tab9-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop9-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
            <figure class="gallery__img-10 gallery__img">
                <picture>
                    <source 
                        srcset="
                            images/Gallery/desktop10-1x.png 1x,
                            images/Gallery/desktop10-2x.png 2x" 
                        media="(min-width:1280px)"
                    >
                    <source
                        srcset="
                            images/Gallery/tab10-1x.png 1x,
                            images/Gallery/tab10-2x.png 2x" 
                        media="(max-width:1279px)"
                    >
                    <img 
                        class="gallery__img-effect" 
                        src="images/Gallery/desktop10-1x.png"
                        alt="the gallery with tasty ice creams' pictures" 
                        width="139"
                    >
                </picture>
            </figure>
        </div>
    </div>
</section>