<div class="container">
    <nav>
        <a href="#" class="logo-nav">
            <img srcset="./images/Hero/logo-mob-1x.png 1x,
                ./images/Hero/logo-mob-2x.png 2x"
                src="./images/Hero/logo-mob-1x.png" 
                alt="Logo1x">
        </a>
        <div class="menu">
            <button class="menu__toggle">
                <svg width="20" height="12">
                    <use href="./images/svg/symbol-defs.svg#icon-burger">
                    </use>
                </svg>
            </button>
        </div>
    </nav>
</div>