<div class="container">
    <nav class="nav">
        <a href="#" class="logo-nav">
            <img srcset="./images/Hero/logo-mob-1x.png 1x,
                ./images/Hero/logo-mob-2x.png 2x"
                src="./images/Hero/logo-mob-1x.png" 
                alt="Logo1x">
        </a>
            <ul class="header-nav">
            <li class="header-nav__item">
                <a href="#" class="header-nav__link">Home</a>
            </li>
            <li class="header-nav__item">
                <a href="" class="header-nav__link">About us</a>
            </li>
            <li class="header-nav__item">
                <a href="" class="header-nav__link">How it’s made?</a>
            </li>
            <li class="header-nav__item">
                <a href="" class="header-nav__link">Our products</a>
            </li>
            <li class="header-nav__item">
                <a href="" class="header-nav__link">Contact</a>
            </li>
        </ul>
        <div class="menu">
            <button class="menu__toggle">
                <svg width="20" height="12">
                    <use href="./images/svg/symbol-defs.svg#icon-burger">
                    </use>
                </svg>
            </button>
        </div>
            <button class="header-button" type="button">
                <span class="button-text">Buy now</span>
            </button>
</div>