<!-- Блок герой -->
<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with <span class="hero__title--color-pink">passion</span></h1>
    <ul class="hero__list">
      <li><a href="#products" class="btn btn--products scroll">Products</a></li>
      <li><a href="#about" class="btn btn--about scroll">How it’s made?</a></li>
    </ul>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et
    </p>
    <button type="button" class="products-cards__btn btn-circle">
      <svg class="btn-circle__icon">
        <use href="/images/svg/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <ul class="hero-numbers">
      <li class="hero-numbers__item">
        <span class="hero-numbers__text">
          <span class="hero-numbers__number">16 </span>
          cafes
        </span>
      </li>
      <li class="hero-numbers__item">
        <span class="hero-numbers__text">
          <span class="hero-numbers__number">23 </span>
          food trucks
        </span>
      </li>
    </ul>
    <div class="hero-circle"></div>
    <picture>
      <source srcset="/images/Hero/hero-milk-desktop-1x.png 1x, /images/Hero/hero-milk-desktop-2x.png 2x"
        media="(min-width: 1280px)">
      <source srcset="/images/Hero/hero-milk-tab-1x.png 1x, /images/Hero/hero-milk-tab-2x.png 2x"
        media="(min-width: 768px)">
      <img class="hero__img-milk" src="/images/Hero/hero-milk-tab-1x.png" alt="milk">
    </picture>
      <picture>
        <source srcset="/images/Hero/hero-girl-desktop-1x.png 1x, /images/Hero/hero-girl-desktop-2x.png 2x"
          media="(min-width: 1280px)">
        <source srcset="/images/Hero/hero-girl-tab-1x.png 1x, /images/Hero/hero-girl-tab-2x.png 2x"
          media="(min-width: 768px)">
        <img class="hero__img-girl" src="/images/Hero/hero-girl-tab-1x.png" alt="girl">
      </picture>
      <picture>
        <source srcset="/images/Hero/hero-icecream-desktop-1x.png 1x, /images/Hero/hero-icecream-desktop-2x.png 2x"
          media="(min-width: 1280px)">
        <source srcset="/images/Hero/hero-icecream-tab-1x.png 1x, /images/Hero/hero-icecream-tab-2x.png 2x"
          media="(min-width: 768px)">
        <source srcset="/images/Hero/hero-icecream-mob-1x.png 1x, /images/Hero/hero-icecream-mob-2x.png 2x"
          media="(max-width: 767px)">
        <img class="hero__img-icecream" src="/images/Hero/hero-icecream-mob-1x.png" alt="icecream">
      </picture>
  </div>
</section>