<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__close-btn" data-modal-close>
            <svg class= "modal__close-icon">
                <use href="images/svg/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title" lang="en">Leave your contact information, we will call you back:)</p>
        <form action="#" class="modal-form">
            <label class="form-label">
                <span class="modal-form__name" lang="en">Your name</span>
                <input type="text" name="username" class="modal-form__input" placeholder="">
                <svg class="modal-form__icon">
                  <use href="images/svg/symbol-defs.svg#icon-person"></use>
                </svg>
            </label>

            <label class="form-label">
                <span class="modal-form__name" lang="en">Phone number</span>
                <input type="tel" name="tel" class="modal-form__input" placeholder="">
                <svg class="modal-form__icon">
                  <use href="images/svg/symbol-defs.svg#icon-phone"></use>
                </svg>
            </label>

            <label class="form-label">
                <span class="modal-form__name" lang="en">Mail</span>
                <input type="email" name="mail" class="modal-form__input" placeholder="">
                <svg class="modal-form__icon">
                  <use href="images/svg/symbol-defs.svg#icon-email"></use>
                </svg>
            </label>

            <label class="form-label">
                <span class="modal-form__name" lang="en">Your wishes</span>
                <textarea name="comments" class="form-label__comments"  placeholder="Write which ice cream do you want.
                "></textarea>
            </label>

            <input type="checkbox" id="modal-checkbox" class="modal-checkbox visually-hidden">
            <label for="modal-checkbox" class="check-text" lang="en">
             <span>
              <svg class="check-text__icon">
                <use href="images/svg/symbol-defs.svg#icon-Vector"></use>
              </svg>
            </span>
            I agree to get a mailing and accept &#160; <a href="" class="check-text__conditions" lang="en">the Terms and Conditions.</a>
          </label>
          <button type="submit" class="modal-btn"><span class="modal-btn__title" lang="en">Sent</span></button>
        </form>
    </div>
</div>
<script src="js/modal.js"></script>