<section class="section products">

    <p class="products__pretitle">
        100% natural
    </p>

    <h2 class="products__title">
        products
    </h2>

    <ul class="products-cards">
        <li class="products-cards__item">
            <h3 class="products-cards__title">
                ice cream
            </h3>

            <p class="products-cards__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>

            <button type="button" class="products-cards__btn"></button>
        </li>

        <li class="products-cards__item">
            <h3 class="products-cards__title">
                ice coffee
            </h3>
        
            <p class="products-cards__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
                magna
                aliqua facilisis.
            </p>
        
            <button type="button" class="products-cards__btn"></button>
        </li>

        <li class="products-cards__item">
            <h3 class="products-cards__title">
                milkshakes
            </h3>
        
            <p class="products-cards__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
                magna
                aliqua facilisis.
            </p>
        
            <button type="button" class="products-cards__btn"></button>
        </li>
    </ul>
</section>