<section class="section products" id="products">

    <div class="container">
        <p class="products__pretitle">
            100% natural
        </p>
        
        <h2 class="products__title">
            products
        </h2>
        
        <ul class="products-cards">
            <li class="products-cards__item products-cards__item--cream">
                <h3 class="products-cards__title">
                    ice cream
                </h3>
        
                <div class="product-cards__content">
                    <p class="products-cards__text spoiler__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et.
                    </p>
                </div>
                
                <button type="button" class="products-cards__btn spoiler-more-btn">
                    <svg class="products-cards__btn--icon" width="15" height="15">
                        <use href="images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
        
            </li>
        
            <li class="products-cards__item products-cards__item--coffee">
                <h3 class="products-cards__title">
                    ice coffee
                </h3>
        
                <div class="product-cards__content">
                    <p class="products-cards__text spoiler__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et.
                    </p>
                </div>
                
                <button type="button" class="products-cards__btn spoiler-more-btn">
                    <svg class="products-cards__btn--icon" width="15" height="15">
                        <use href="images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        
            <li class="products-cards__item products-cards__item--milkshakes">
                <h3 class="products-cards__title">
                    milkshakes
                </h3>
        
                <div class="product-cards__content">
                    <p class="products-cards__text spoiler__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore et.
                    </p>
                </div>
                
                <button type="button" class="products-cards__btn spoiler-more-btn">
                    <svg class="products-cards__btn--icon" width="15" height="15">
                        <use href="images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    
</section>