.about__section {
  background-color: $bcg-cow;

  @media screen and (max-width: 767px) {
    padding-top: 125px;
    padding-bottom: 40px;

    background-image: url('/images/Cow/milk-mob-1x.png');
    background-repeat: no-repeat;
    background-position-y: 87%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/Cow/milk-mob-2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 20px;

    background-image: url('/images/Cow/milk-desktop-1x.png');
    background-repeat: no-repeat;
    background-position-y: 120%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/Cow/milk-desktop-2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.caption-block {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;

    font-family: 'Titan One', cursive;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;

    color: $pink-text;
  }

  &__heading {
    text-transform: uppercase;
    color: $crimson-text;

    font-family: 'Titan One', cursive;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.14;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 26px;
    }
  }
}

.description {
  display: flex;

  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__picture,
  &__text-wrapper {
    @media screen and (min-width: 768px) {
      width: calc((100% - 17px) / 2);
    }

    @media screen and (min-width: 1280px) {
      width: calc((100% - 74px) / 2);
    }
  }

  &__img {
    @media screen and (min-width: 768px) {
      margin-top: 50px;
    }
  }

  &__text-wrapper {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 100px;
      margin-left: 17px;
    }

    @media screen and (min-width: 1280px) {
      margin-left: 74px;
      margin-top: 90px;
      width: 460px;
      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    text-align: left;

    @media screen and (max-width: 1279px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      font-family: 'DM Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.75;
      margin-bottom: 35px;
      width: 430px;
    }
  }

  &__span {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    text-align: left;
    color: $coffee-text;

    @media screen and (min-width: 1280px) {
      font-family: 'DM Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.92;
      width: 430px;
    }
  }

  &__button {
    width: 176px;
    height: 44px;
    margin-top: 20px;

    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;

    color: $crimson-text;
    background-color: $primary-button;
    border-radius: 22px;

    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: $primary-button-hov;
    }

    @media screen and (min-width: 768px) {
      margin-top: 62px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 58px;
    }
  }

  &__svg {
    width: 6.4px;
    height: 8px;
    margin-left: 13.6px;
  }
}
