.advantages__name {
  position: absolute;
  left: -999em;
}
.advantages__path-name {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $crimson-text;
  display: block;
  padding-top: 16px;
  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.14;
    padding-top: 36px;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    line-height: 1.14;
    padding-top: 40px;
  }
}

.advantages__path-text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  color: $black;
  max-width: 280px;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.74;
    max-width: 180px;
    padding-top: 13px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 1.76;
    max-width: 330px;
    padding-top: 15px;
  }
}
.advantages__img-1::before {
  content: '';
  background-image: url('/images/Avantages/icon1avantages-1.png');
  background-size: cover;
  display: block;
  width: 33px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__img-1::before {
    background-image: url('/images/Avantages/icon1avantages-1@2x.png');
  }
}
.advantages__img-2::before {
  content: '';
  background-image: url('/images/Avantages/icon1avantages-2.png');
  background-size: cover;
  display: block;
  width: 50px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__img-2::before {
    background-image: url('/images/Avantages/icon1avantages-2@2x.png');
  }
}
.advantages__img-3::before {
  content: '';
  background-image: url('/images/Avantages/icon1avantages-3.png');
  background-size: cover;
  display: block;
  width: 44px;
  height: 50px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__img-3::before {
    background-image: url('/images/Avantages/icon1avantages-3@2x.png');
  }
}
.advantages {
  padding-top: 40px;
  padding-bottom: 97px;
  background-color: #fff5f6;
  @media screen and(min-width:768px) {
    padding-bottom: 140px;
  }
}
.advantages__item:not(:first-child) {
  padding-top: 38px;
  @media screen and(min-width:768px) {
    padding-top: 0;
  }
}
.advantages__list {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
}
