.contacts {
  background: #fff5f6;
  position: relative;
  margin-top: 86px;
  padding-bottom: 41px;
  height: 1430px;

  @media screen and (min-width: 768px) {
    height: 750px;
  }
}

.contacts__list {
  position: absolute;
  top: -84px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 768px) {
    display: flex;
    top: -77px;
  }
}

.contacts__item {
  width: 220px;
  background: $white-text;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding: 43px 20px;

  &:not(:last-child) {
    margin: 0 0 20px 0;

    @media screen and (min-width: 768px) {
      margin: 0 20px 0 0;
    }
  }
}

.shop__type {
  @include flex(flex, center, center, row, nowrap);

  width: 80px;
  height: 16px;

  background: $coffe-bcg;
  border-radius: 4px;

  @include font(500, 12px, 22px, 0.04em, uppercase, $main-bcg);

  margin-bottom: 25px;
}

.shop__type--style {
  width: 130px;
  background: $milkshakes-bcg;
}

.shop__place {
  margin-bottom: 10px;

  @include font(500, 12px, 22px, 0.04em, none, $black);
}

.shop__description {
  padding-bottom: 25px;
  margin-bottom: 25px;

  @include font(500, 12px, 18px, normal, none, $coffee-text);

  border-bottom: 1px solid #e1e1e1;
}

.shop__schedule {
  padding-bottom: 25px;
  margin-bottom: 25px;

  border-bottom: 1px solid #e1e1e1;
}

.shop__thumb {
  margin-bottom: 11px;
}

.shop__day {
  @include font(500, 12px, 22px, normal, none, $black);
}

.shop__time {
  @include font(500, 12px, 22px, normal, none, $pink-text);
}

.contacts__link {
  @include font(500, 12px, 18px, normal, none, #907e82);
  font-style: normal;
}

.button-thumb {
  position: absolute;
  @include flex(flex, center, center, column, nowrap);

  left: 50%;
  bottom: 41px;
  transform: translate(-50%);
}

.contacts-button {
  width: 161px;
  height: 44px;

  background: #d41342;
  border-radius: 22px;

  @include font(700, 16px, 21px, normal, none, $main-bcg);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts-button--button-color {
  background: $main-bcg;
  color: #d41342;
}

.contacts-button__icon {
  margin-left: 8px;
}

.contacts-button__icon--gap {
  margin-left: 13.17px;
}
