.rewiev {
  padding: 80px 20px 86px 20px;

  &__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__comment {
    position: relative;
    padding: 43px 50px 26px 50px;
    background-color: #fafafa;
    margin-bottom: 30px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 28px;
      left: 54px;
      width: 54px;
      height: 40px;
      background-image: url(/images/Customers/breckets.png);
      background-repeat: no-repeat;
    }
  }

  &__text {
    display: block;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: #000000;

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #e1e1e1 29px,
      #e1e1e1 30px
    );
    background-repeat: no-repeat;
    background-position-y: -2px;
  }

  &__poits {
    position: relative;
    display: block;
    height: 4px;
    width: 4px;
    background-color: #c7133e;
    margin: 0 auto;
    margin-bottom: 18px;
    border-radius: 50%;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: #c7133e;
      border-radius: 50%;
    }

    &::after {
      right: -14px;
    }

    &::before {
      left: -14px;
    }
  }

  &__location {
    text-align: center;
    margin-bottom: 30px;
  }

  .slick {
    &-slider {
      position: relative;
    }

    &-list {
      overflow: hidden;
    }

    &-track {
      display: flex;
    }

    &-dots {
      display: flex;
      justify-content: center;

      & li {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #d9d9d9;
        font-size: 0;

        &:not(:last-child) {
          margin-right: 18px;
        }

        &:hover {
          cursor: pointer;
        }

        &.slick-active {
          background-image: url(/images/Customers/vector.png);
        }
      }
    }

    &-arrow {
      position: absolute;
      border-radius: 50%;
      bottom: -2px;
      background-color: transparent;
      outline: none;
      background-image: url(/images/Customers/vector1.png);
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 0;
      height: 15px;
      width: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &-prev {
      left: calc((100% - 120px) / 2);
      transform: rotate(180deg);
    }

    &-next {
      right: calc((100% - 120px) / 2);
    }
  }
}
