.rewiev {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 86px;

  @media (min-width: 768px) {
    padding-bottom: 119px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 132px;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__comment {
    position: relative;
    margin: 0 auto;
    padding: 43px 35px 20px 35px;
    background-color: #fafafa;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      max-width: 620px;
      padding: 47px 36px 28px 60px;
      margin-bottom: 24px;
    }

    @media (min-width: 1280px) {
      max-width: 926px;
      padding: 47px 54px 32px 59px;
      margin-bottom: 15px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 28px;
      left: 54px;
      width: 54px;
      height: 40px;
      background-image: url(/images/Customers/breckets.png);
      background-repeat: no-repeat;
    }
  }

  &__text {
    display: block;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
    padding-left: 7px;
    padding-right: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: #000000;
    letter-spacing: 0.01em;

    @media (min-width: 768px) {
      padding-left: 20px;
      padding-right: 44px;
      max-width: 524px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
    }

    @media (min-width: 1280px) {
      padding-left: 28px;
      padding-right: 35px;
      max-width: 750px;
      font-size: 16px;
      line-height: 1.86;
      background-position-y: -1px;
    }

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #e1e1e1 29px,
      #e1e1e1 30px
    );
    background-repeat: no-repeat;
    background-position-y: -2px;
  }

  &__poits {
    position: relative;
    display: block;
    height: 4px;
    width: 4px;
    background-color: $products-button-hov;
    margin: 0 auto;
    margin-bottom: 18px;
    border-radius: 50%;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: $products-button-hov;
      border-radius: 50%;
    }

    &::after {
      right: -14px;
    }

    &::before {
      left: -14px;
    }
  }

  &__location {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    @media (min-width: 768px) {
      font-size: 16px;
    }

    @media (min-width: 1280px) {
      font-size: 20px;
    }
  }

  .slick {
    &-slider {
      position: relative;
    }

    &-list {
      overflow: hidden;
    }

    &-track {
      display: flex;
    }

    &-dots {
      display: flex;
      justify-content: center;

      & li {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #d9d9d9;
        font-size: 0;

        @include transition(background-color);

        &:not(:last-child) {
          margin-right: 18px;
        }

        &:hover {
          cursor: url(https://cdn.custom-cursor.com/db/8927/32/minimal-pink-ice-cream-pointer.png),
            pointer;
        }

        &:hover,
        &:focus {
          background-color: $products-button;
        }

        &.slick-active {
          background-image: url(/images/Customers/vector.png);

          &:hover,
          &:focus {
            background-color: #d9d9d9;
          }
        }
      }
    }

    &-arrow {
      position: absolute;
      border-radius: 50%;
      bottom: -4px;
      background-color: transparent;
      outline: none;
      background-image: url(/images/Customers/vector1.png);
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: center center;
      font-size: 0;
      height: 20px;
      width: 20px;
      border: 2px solid transparent;

      @include transition(border);

      &:hover {
        cursor: url(https://cdn.custom-cursor.com/db/8927/32/minimal-pink-ice-cream-pointer.png),
          pointer;
      }

      &:hover,
      &:focus {
        border: 2px solid $products-button;
      }
    }

    &-prev {
      left: calc((100% - 150px) / 2);
      transform: rotate(180deg);
    }

    &-next {
      right: calc((100% - 150px) / 2);
    }
  }
}
