.footer__capture--text {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $pink-text;
  max-width: 232px;
  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and(min-width:1280px) {
    font-size: 30px;
    line-height: 1.13;
    max-width: 472px;
  }
}

.footer__capture--text-head {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $products-button;
  max-width: 200px;
  padding-top: 16px;
  @media screen and(min-width:768px) {
    font-size: 48px;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    max-width: 474px;
  }
}
.footer {
  background-color: $footer-bcg;
  padding-top: 60px;
  padding-bottom: 25px;
  @media screen and(min-width:1280px) {
    padding-bottom: 10px;
  }
}
.social-footer__item {
  width: 32px;
  height: 32px;
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.social-footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: $bcg-hero;
  align-items: center;
  justify-content: center;

  @include transition(background-color);

  &:focus,
  &:hover {
    background-color: $products-button;
  }
}
.social-footer__list {
  padding-top: 43px;
  display: flex;
  justify-content: flex-end;
  @media screen and(min-width:768px) {
    padding-top: 0;
  }
}
.tel {
  padding-top: 46px;
  padding-bottom: 43px;
  display: flex;
  justify-content: flex-end;
}
.tel__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: $black;
  display: inline;
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.tel__number {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: $products-button;
  padding-left: 5px;
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
  }
}
.end {
  position: relative;
  padding-top: 22px;
  @media screen and(min-width:768px) {
    padding-top: 30px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 10px;
  }
}
.end::before {
  content: '';
  width: 100%;
  height: 0;
  border: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
}
.end__text {
  display: block;
  max-width: 140px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: $coffee-text;
  text-align: center;
  @media screen and(min-width:768px) {
    max-width: 275px;
  }
}
.footer-stction {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }
}
