.gallery {
  @include section(0, 80px);
  background-image: linear-gradient(to bottom, $secondary-bcg 23.8%, $main-bcg 23.8%);

  @media screen and(min-width:768px) {
    @include section(0, 121px);
    background-image: linear-gradient(to bottom, $secondary-bcg 27.5%, $main-bcg 27.5%);
  }

  @media screen and(min-width:1280px) {
    @include section(0, 123px);
    background-image: linear-gradient(to bottom, $secondary-bcg 30.9%, $main-bcg 30.9%);
  }
}

.gallery__container {
  padding-left: 0;
  padding-right: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
