.gallery {
  @include section(0, 80px);
  background-image: linear-gradient(to bottom, $secondary-bcg 23.8%, $main-bcg 23.8%);

  @media screen and(min-width:768px) {
    @include section(0, 121px);
    background-image: linear-gradient(to bottom, $secondary-bcg 27.5%, $main-bcg 27.5%);
  }

  @media screen and(min-width:1280px) {
    @include section(0, 123px);
    background-image: linear-gradient(to bottom, $secondary-bcg 30.9%, $main-bcg 30.9%);
  }
}

.gallery__container {
  padding-left: 0;
  padding-right: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.gallery__masonry {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, 1fr);
  min-height: 122px;
  max-width: 100%;
  row-gap: 2px;
  column-gap: 2px;

  :hover {
    z-index: 1;
  }

  @media screen and(min-width:768px) {
    height: 264px;
    row-gap: 5px;
    column-gap: 5px;
  }

  @media screen and(min-width:1280px) {
    height: 430px;
    row-gap: 6px;
    column-gap: 6px;
  }
}

.gallery__img {
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  :hover {
    z-index: 2;
  }

  @media screen and(min-width:768px) {
    object-fit: cover;
    border-radius: 14px;
  }

  @media screen and(min-width:1280px) {
    object-fit: cover;
    border-radius: 18px;
  }
}

.gallery__img-effect {
  height: 100%;

  transition: (
    transform 500ms ease-in-out,
    box-shadow 500ms ease-in-out,
    opacity 500ms ease-in-out,
    border-radius 500ms ease-in-out
  );

  .gallery__img:hover & {
    opacity: 1 !important;
    transform: scale(1.25);
    box-shadow: 0px 8px 24px rgba(225, 121, 146, 0.75);
    border-radius: 11px;

    @media screen and(min-width:768px) {
      border-radius: 16px;
    }

    @media screen and(min-width:1280px) {
      border-radius: 25px;
    }
  }

  .gallery__masonry:hover & {
    opacity: 0.5;
  }
}

.gallery__img-1 {
  grid-column: 2/2;
  grid-row: 6/11;
}

.gallery__img-2 {
  grid-column: 3/3;
  grid-row: 4/9;
}

.gallery__img-3 {
  grid-column: 3/3;
  grid-row: 9/14;
}

.gallery__img-4 {
  grid-column: 4/6;
  grid-row: 1/11;
}

.gallery__img-5 {
  grid-column: 4/4;
  grid-row: 11/16;
}

.gallery__img-6 {
  grid-column: 6/6;
  grid-row: 5/10;
}

.gallery__img-7 {
  grid-column: 6/6;
  grid-row: 10/15;
}

.gallery__img-8 {
  grid-column: 7/7;
  grid-row: 3/8;
}

.gallery__img-9 {
  grid-column: 7/7;
  grid-row: 8/13;
}

.gallery__img-10 {
  grid-column: 8/8;
  grid-row: 6/11;
}
