nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logo-nav {
  padding-top: 6px;
  display: flex;
  padding-bottom: 27px;
}
.menu__toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header-nav {
  display: flex;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.header-nav__item:not(:last-child) {
  margin-right: 35px;
}
.header-nav__link {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $crimson-text;
}
