.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}
.logo-nav {
  padding-top: 6px;
  display: flex;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}
.menu__toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media screen and (min-width: 768px) {
    top: 52px;
    right: 224px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header-nav {
  display: flex;
  margin: 0 110px;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.header-nav__item:not(:last-child) {
  margin-right: 35px;
}
.header-nav__link {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $primary-button;
  padding-top: 50px;
  &:hover,
  &:focus {
    color: $crimson-text;
  }
}
.header-button {
  position: absolute;
  z-index: 100;
  top: 38px;
  right: 34px;
  background-color: $primary-button;
  border-radius: 22px;
  width: 159px;
  height: 44px;
  &:hover,
  &:focus {
    background-color: $primary-button-hov;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.header-button2 {
  z-index: 100;
  background-color: $primary-button;
  border-radius: 22px;
  width: 209px;
  height: 44px;
  margin-bottom: 19px;
  &:hover,
  &:focus {
    background-color: $primary-button-hov;
  }
}
.button-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $crimson-text;
  &::after {
    content: '';
    width: 4px;
    height: 8px;
    background-image: url(/images/svg/symbol-defs.svg#icon-vector-1);
    margin-left: 12px;
    color: $crimson-text;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 83px 48px 21px;
  width: 100vw;
  height: 100vh;
  background: $mobile-menu-bcg;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.menu__close-icon {
  position: absolute;
  top: 23px;
  right: 28px;
}
.mobile-menu__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $primary-button;
  padding-top: 50px;
  &:hover,
  &:focus {
    color: $crimson-text;
  }
}
.mobile-menu__item {
  border: 1px solid #e18298;
  padding: 12px 21px;
}
