// @keyframes show {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

.hero {
  background-color: $bcg-hero;
}

.container.hero__container {
  position: relative;

  height: 100vh;
  padding-top: 193px;
  background-color: $bcg-hero;
  text-align: left;

  @media screen and (max-height: 414px) {
    padding-top: 102px;
  }

  @media screen and (max-width: 480px) {
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    height: 399px;
    padding-top: 102px;
  }

  @media screen and (min-width: 1280px) {
    height: 665px;
    padding-top: 171px;
  }
}

.hero__title {
  position: relative;
  z-index: 3;

  max-width: 218px;

  font-family: 'Titan One', cursive;
  @include font(400, 26px, 30px, 0.04em, uppercase, $white-text);

  &--color-pink {
    font-size: 48px;
    line-height: 0.958;
    color: $crimson-text;
  }

  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.1;
  }

  &--color-pink {
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.912;
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.158;
  }

  &--color-pink {
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.897;
    }
  }
}
.hero__list {
  position: absolute;
  z-index: 3;

  display: flex;
}

.btn {
  display: block;
  border-radius: 20px;
  padding: 9px 15px;
  min-width: 62px;
  margin-top: 19px;
  animation: bounce-top 1.5s both;
  font-family: inherit;
  @include font(400, 8px, 10px, 0.04em, none, $crimson-text);
  background-color: $white-text;
  text-align: center;
  cursor: url(https://cdn.custom-cursor.com/db/8927/32/minimal-pink-ice-cream-pointer.png), pointer;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $primary-button-hov;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 102px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.286;
  }
}

.btn--products {
  margin-right: 8px;

  background-color: $products-button;
  color: $white-text;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $products-button-hov;
    color: $white-text;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}
.hero__text {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 3;
    bottom: 59px;
    left: 154px;

    display: block;
    max-width: 114px;

    @include font(400, 8px, 12px, 0.04em, none, $white-text);
  }

  @media screen and (min-width: 1280px) {
    bottom: 102px;
    left: 295px;

    max-width: 200px;

    font-size: 14px;
    line-height: 1.43;
  }
}

.products-cards__btn.btn-circle {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 34px;
    left: 154px;
    z-index: 3;

    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 56px;
    left: 295px;

    width: 26px;
    height: 26px;
  }
}

.btn-circle__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 8px;
    height: 6px;
  }

  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 8px;
  }
}

.hero__img-icecream {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
  max-height: 85%;

  // animation: show 3500ms ease-in-out 700ms;

  @media screen and (min-width: 768px) {
    right: 247px;
  }

  @media screen and (min-width: 1280px) {
    right: 450px;
  }
}

.hero-circle {
  position: absolute;
  bottom: 75px;
  right: -62px;
  z-index: 1;

  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: $pink-text;

  // animation: show 3500ms ease-in-out 700ms;

  @media screen and (max-height: 414px) {
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    height: 320px;
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    right: 137px;
    transform: translateY(-50%);

    width: 323px;
    height: 323px;
  }

  @media screen and (min-width: 1280px) {
    right: 267px;

    width: 538px;
    height: 538px;
  }
}

.hero__img-milk {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 28px;
    left: 32px;
    z-index: 3;

    // animation: show 3500ms ease-in-out 700ms;
  }

  @media screen and (min-width: 1280px) {
    left: 77px;
  }
}

.hero__img-girl {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 34px;
    z-index: 3;

    // animation: show 3500ms ease-in-out 700ms;
  }

  @media screen and (min-width: 1280px) {
    right: 109px;
  }
}

.hero-numbers {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  top: 96px;
  right: 44px;

  @media screen and (min-width: 1280px) {
    top: 160px;
    right: 115px;
  }
}

.hero-numbers__item {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: relative;

  display: block;
  width: 51px;
  height: 44px;
  margin-bottom: 14px;

  @include font(400, 8px, 10px, 0.04em, none, $white-text);
  text-align: right;

  &::after {
    content: ' ';
    position: absolute;
    top: -5px;
    left: 42px;

    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white-text;
  }

  @media screen and (min-width: 1280px) {
    width: 92px;
    height: 77px;
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 1.286;

    &::after {
      top: -8px;
      left: 75px;

      width: 30px;
      height: 30px;
    }
  }

  .hero-numbers__text {
    @media screen and (max-width: 767px) {
      display: none;
    }

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .hero-numbers__number {
    @media screen and (max-width: 767px) {
      display: none;
    }

    display: block;

    font-family: 'Titan One', cursive;
    @include font(400, 28px, 32px, 0.04em, uppercase, $crimson-text);

    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
      margin-bottom: 2px;
    }
  }
}
