.hero {
  position: relative;

  max-width: 1280px;
  height: 502px;
  margin: 0 auto;
  padding-top: 193px;
  padding-right: 32px;
  padding-bottom: 160px;
  padding-left: 20px;
  background-color: #ffb8ca;
  text-align: left;

  @media screen and (min-width: 768px) {
    height: 399px;
    padding-top: 102px;
    padding-right: 34px;
    padding-bottom: 28px;
    padding-left: 34px;
  }

  @media screen and (min-width: 1200px) {
    height: 665px;
    padding-top: 171px;
    padding-right: 97px;
    padding-bottom: 45px;
    padding-left: 77px;
  }
}

.hero__title {
  position: relative;
  z-index: 2;

  max-width: 218px;

  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff;

  &--color-pink {
    font-size: 48px;
    line-height: 0.958;
    color: #d41443;
  }
}

.hero__list {
  position: absolute;
  z-index: 2;

  display: flex;
  margin-top: 19px;
}

.btn {
  display: block;
  border-radius: 20px;
  padding: 9px 15px;
  min-width: 62px;

  background-color: #ffffff;
  color: #d41443;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;

  &--products {
    margin-right: 8px;

    background-color: #d41443;
    color: #ffffff;
  }
}

.hero__img-icecream {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 1;

  @media screen and (min-width: 768px) {
    right: 32%;
  }

  @media screen and (min-width: 1200px) {
    right: 35%;
  }
}

.hero__img-ellipse {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);

  @media screen and (min-width: 768px) {
    right: 18%;
  }

  @media screen and (min-width: 1200px) {
    right: 21%;
  }
}

.hero__img-milk {
  position: absolute;
  bottom: 28px;
  left: 32px;
  z-index: 2;
}

.hero__img-girl {
  position: absolute;
  bottom: 0;
  right: 34px;
  z-index: 2;
}
